@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******/
.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.center {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

/* body{
	background-color: #E5E5E5;
} */
/*Modal_for open site*/
.overlay {
  display: none; /* Скрываем модальное окно по умолчанию */
  flex-direction: column;
  position: fixed;
  z-index: 1000;
  border-radius: 35px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 464px;
  height: 535px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow: auto;
}
@media screen and (max-width: 510px) {
  .overlay {
    width: 330px;
    height: 465px;
  }
}
.overlay .custom-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overlay .custom-content h2 {
  text-align: center;
  font-family: "Inter-bold";
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  color: #282A2E;
  line-height: 25px;
}
.overlay .custom-content p {
  text-align: center;
  font-size: 16px;
  color: #282A2E;
  line-height: 25px;
  font-family: "OpenSans-reg";
  margin-bottom: 20px;
}
.overlay .custom-content .link_mes {
  display: flex;
}
.overlay .custom-content .link_mes img {
  margin-right: 15px;
  width: 33px;
}
.overlay .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
.overlay .oz {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  border: none;
  background-color: #005BFF;
  border-radius: 50px;
  box-shadow: 0 0 40px 40px #005BFF inset, 0 0 0 0 #005BFF;
  transition: all 150ms ease-in-out;
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
}
.overlay .oz:hover {
  box-shadow: 0 0 10px 0 #005BFF inset, 0 0 10px 4px #005BFF;
}
.overlay .wb {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  border: none;
  background-color: #ED3FF3;
  border-radius: 50px;
  margin-left: 20px;
  box-shadow: 0 0 40px 40px #ED3FF3 inset, 0 0 0 0 #ED3FF3;
  transition: all 150ms ease-in-out;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}
.overlay .wb:hover {
  box-shadow: 0 0 10px 0 #ED3FF3 inset, 0 0 10px 4px #ED3FF3;
}
.overlay .horizontal-links {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

/*First container*/
.container-first {
  background-image: url(../images/bg-first-container.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 0px 600px;
}
@media screen and (max-width: 1250px) {
  .container-first {
    background-position: 0px 490px;
  }
}
@media screen and (max-width: 1024px) {
  .container-first {
    background-position: 0px 410px;
  }
}
@media screen and (max-width: 768px) {
  .container-first {
    background-position: 0px 370px;
    background-size: 100%;
  }
}

.container-first header .menu ul {
  display: flex;
  font-family: "OpenSans-reg";
}
@media screen and (max-width: 1250px) {
  .container-first header .menu ul .second-link {
    margin-left: 8px;
    margin-right: 8px;
  }
}

.container-first header .menu ul li a {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #282A2E;
  text-decoration: none;
  transition: 0.8s;
}

.container-first header .menu ul li a:hover {
  color: #e79f47;
}

.container-first header .menu ul li.first-link a {
  color: #e79f47;
}

.container-first header .menu ul li {
  margin-right: 32px;
}
@media screen and (max-width: 1250px) {
  .container-first header .menu ul li {
    margin-right: 0;
  }
}

.container-first header .menu ul li.contact-btn {
  margin-right: 32px;
  margin-left: 16px;
}
@media screen and (max-width: 1250px) {
  .container-first header .menu ul li.contact-btn {
    margin-right: 0;
  }
}

.container-first header .menu ul li.contact-btn a {
  color: #fff;
  border: 2px solid rgba(244, 246, 252, 0.2);
  border-radius: 41px;
  margin-left: 550px;
  /* display: inline-block; */
  transition: 0.8s;
}

@media screen and (max-width: 1250px) {
  .container-first header .menu ul li.contact-btn1 {
    margin-right: 8px;
    margin-left: 8px;
  }
}

.container-first header .menu ul li.contact-btn a:hover {
  color: #1C1E53;
  background-color: #fff;
}

.container-first header {
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1250px) {
  .container-first header {
    justify-content: space-around;
  }
}
@media (max-width: 1024px) {
  .container-first header {
    justify-content: center;
  }
}
.container-first header .menu img {
  width: 24px;
}
@media (max-width: 1024px) {
  .container-first header .menu {
    display: none;
  }
}

.container-first {
  position: relative;
}
.container-first .countdown {
  text-align: center;
  font-weight: 700;
  color: #538465;
  font-family: "Inter-bold";
  background: #fff;
  border-radius: 10px;
}
@media screen and (max-width: 1100px) {
  .container-first .countdown {
    margin-left: 20px;
  }
}
@media (max-width: 768px) {
  .container-first .countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.container-first .countdown .box-mob {
  display: none;
  margin-top: 32px;
  border: none;
  background: linear-gradient(325.16deg, #538465 15.06%, #91BCAA 91.48%);
  border-radius: 50px;
  padding: 10px;
}
.container-first .countdown .box-mob img {
  width: 32px;
  margin-right: 5px;
  height: 32px;
}
@media (max-width: 768px) {
  .container-first .countdown .box-mob {
    display: block;
  }
}
.container-first .countdown .box-mob span {
  display: none;
}
@media (max-width: 768px) {
  .container-first .countdown .box-mob span {
    display: flex;
    align-items: center;
  }
}
.container-first .countdown .box-mob span p {
  color: #ECECF1;
}
.container-first .countdown .box {
  position: absolute;
  bottom: 24%; /* По центру */
  right: 26%; /* По центру */
  transform: translate(0%, 35%); /* Центрируем кнопку */
}
@media screen and (max-width: 1650px) {
  .container-first .countdown .box {
    bottom: 23%;
    right: 23%;
    translate: 0%;
  }
}
@media screen and (max-width: 1350px) {
  .container-first .countdown .box {
    right: 25%;
  }
}
@media screen and (max-width: 1250px) {
  .container-first .countdown .box {
    display: none;
  }
}
.container-first .countdown .box .custom-modal {
  display: none; /* Скрываем модальное окно по умолчанию */
  position: fixed;
  z-index: 1000;
  border-radius: 35px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 464px;
  height: 535px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow: auto;
}
@media screen and (max-width: 510px) {
  .container-first .countdown .box .custom-modal {
    width: 330px;
    height: 465px;
  }
}
.container-first .countdown .box .custom-modal .custom-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-first .countdown .box .custom-modal .custom-content h2 {
  text-align: center;
  font-family: "Inter-bold";
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  color: #282A2E;
  line-height: 25px;
}
.container-first .countdown .box .custom-modal .custom-content p {
  text-align: center;
  font-size: 16px;
  color: #282A2E;
  line-height: 25px;
  font-family: "OpenSans-reg";
  margin-bottom: 20px;
}
.container-first .countdown .box .custom-modal .custom-content .link_mes {
  display: flex;
}
.container-first .countdown .box .custom-modal .custom-content .link_mes img {
  margin-right: 15px;
  width: 33px;
}
.container-first .countdown .box .custom-modal .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
.container-first .countdown .box .custom-modal .oz {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  border: none;
  background-color: #005BFF;
  border-radius: 50px;
  box-shadow: 0 0 40px 40px #005BFF inset, 0 0 0 0 #005BFF;
  transition: all 150ms ease-in-out;
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
}
.container-first .countdown .box .custom-modal .oz:hover {
  box-shadow: 0 0 10px 0 #005BFF inset, 0 0 10px 4px #005BFF;
}
.container-first .countdown .box .custom-modal .wb {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  border: none;
  background-color: #ED3FF3;
  border-radius: 50px;
  margin-left: 20px;
  box-shadow: 0 0 40px 40px #ED3FF3 inset, 0 0 0 0 #ED3FF3;
  transition: all 150ms ease-in-out;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}
.container-first .countdown .box .custom-modal .wb:hover {
  box-shadow: 0 0 10px 0 #ED3FF3 inset, 0 0 10px 4px #ED3FF3;
}
.container-first .countdown .box .custom-modal .horizontal-links {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
@media screen and (max-width: 1250px) {
  .container-first .countdown .box {
    margin-top: -320px;
  }
}
@media screen and (max-width: 1100px) {
  .container-first .countdown .box {
    margin-top: -300px;
  }
}
@media screen and (max-width: 1024px) {
  .container-first .countdown .box {
    margin-top: -290px;
  }
}
@media screen and (max-width: 900px) {
  .container-first .countdown .box {
    margin-top: -293px;
  }
}
@media (max-width: 768px) {
  .container-first .countdown .box {
    margin-left: 0;
    display: none;
  }
}
.container-first .countdown .box img {
  display: flex;
  border-radius: 50px;
  background: linear-gradient(325.16deg, #538465 15.06%, #91BCAA 91.48%);
  padding: 23px;
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 1250px) {
  .container-first .countdown .box img {
    width: 40px;
    height: 40px;
    padding: 20px;
  }
}
@media screen and (max-width: 1250px) {
  .container-first .countdown .box img {
    padding: 10px;
    width: 32px;
    height: 32px;
  }
}
@media screen and (max-width: 1024px) {
  .container-first .countdown .box img {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 900px) {
  .container-first .countdown .box img {
    width: 30PX;
    height: 25PX;
  }
}
.container-first #timer {
  display: flex;
  margin-top: 5px;
}
.container-first .time {
  font-size: 32px;
  margin-right: 50px;
}
@media screen and (max-width: 1024px) {
  .container-first .time {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .container-first .time {
    margin-top: 32px;
  }
}
.container-first .label {
  margin-right: 33px;
  font-size: 22px;
}
@media screen and (max-width: 1024px) {
  .container-first .label {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .container-first .label {
    margin-bottom: 10px;
  }
}
.container-first .image-txt {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /*#image2{
    img{margin-top: 10px;}
  } */
}
@media (max-width: 768px) {
  .container-first .image-txt {
    flex-direction: column;
    align-items: center;
  }
}
.container-first .image-txt img {
  width: 547px;
  height: 533px;
  margin: 2em auto;
  margin-bottom: 150px;
}
@media screen and (max-width: 1650px) {
  .container-first .image-txt img {
    width: 400px;
    height: 450px;
  }
}
@media screen and (max-width: 1250px) {
  .container-first .image-txt img {
    width: 350px;
    height: 400px;
  }
}
@media screen and (max-width: 1024px) {
  .container-first .image-txt img {
    width: 272px;
    height: 327px;
  }
}
@media screen and (max-width: 920px) {
  .container-first .image-txt img {
    width: 238px;
    height: 290px;
  }
}
@media (max-width: 768px) {
  .container-first .image-txt img {
    width: 350px;
    height: 350px;
    margin-bottom: 32px;
    margin: auto;
  }
}
@media screen and (max-width: 380px) {
  .container-first .image-txt img {
    width: 340px;
  }
}
@media screen and (max-width: 380px) {
  .container-first .image-txt img {
    width: 320px;
    height: 327px;
  }
}
.container-first .image-txt .hflex {
  display: flex;
  flex-direction: column;
  width: 600px;
  text-align: left;
}
@media screen and (max-width: 1350px) {
  .container-first .image-txt .hflex {
    align-items: center;
  }
}
@media (max-width: 768px) {
  .container-first .image-txt .hflex {
    width: 350px;
  }
}
.container-first .image-txt .hflex h2 {
  z-index: 1;
  color: #282A2E;
  margin-top: 32px;
  font-family: "Inter-bold";
  font-weight: 700;
  font-size: 80px;
  margin-bottom: 24px;
  margin-left: -50px;
}
@media screen and (max-width: 1350px) {
  .container-first .image-txt .hflex h2 {
    font-size: 72px;
  }
}
@media screen and (max-width: 1250px) {
  .container-first .image-txt .hflex h2 {
    font-size: 60px;
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 900px) {
  .container-first .image-txt .hflex h2 {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .container-first .image-txt .hflex h2 {
    font-size: 32px;
    width: 350px;
    margin-left: 0;
    text-align: center;
  }
}
.container-first .image-txt .hflex p {
  font-family: "OpenSans-reg";
  margin-top: 40px;
  font-size: 32px;
  text-align: left;
}
@media screen and (max-width: 1350px) {
  .container-first .image-txt .hflex p {
    font-size: 20px;
  }
}
@media screen and (max-width: 1250px) {
  .container-first .image-txt .hflex p {
    font-size: 24px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 1100px) {
  .container-first .image-txt .hflex p {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .container-first .image-txt .hflex p {
    margin-left: 0;
    margin-top: 0;
    text-align: center;
  }
}
.container-first .image-txt .hflex .market {
  font-family: "OpenSans-reg";
  margin-top: 62px;
  display: flex;
}
@media screen and (max-width: 1200px) {
  .container-first .image-txt .hflex .market {
    justify-content: center;
  }
}
@media screen and (max-width: 1100px) {
  .container-first .image-txt .hflex .market {
    flex-direction: column;
    margin-top: 32px;
  }
}
.container-first .image-txt .hflex .market .wb {
  border: none;
  background-color: #ED3FF3;
  border-radius: 50px;
  margin-left: 20px;
  box-shadow: 0 0 40px 40px #ED3FF3 inset, 0 0 0 0 #ED3FF3;
  transition: all 150ms ease-in-out;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}
@media screen and (max-width: 1100px) {
  .container-first .image-txt .hflex .market .wb {
    margin-left: 0;
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .container-first .image-txt .hflex .market .wb {
    margin-top: 12px;
  }
}
.container-first .image-txt .hflex .market .wb:hover {
  box-shadow: 0 0 10px 0 #ED3FF3 inset, 0 0 10px 4px #ED3FF3;
}
.container-first .image-txt .hflex .market .oz {
  border: none;
  background-color: #005BFF;
  border-radius: 50px;
  box-shadow: 0 0 40px 40px #005BFF inset, 0 0 0 0 #005BFF;
  transition: all 150ms ease-in-out;
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
}
.container-first .image-txt .hflex .market .oz:hover {
  box-shadow: 0 0 10px 0 #005BFF inset, 0 0 10px 4px #005BFF;
}

.container-two {
  background-image: url(../images/bg-first-container.png);
  height: 700px;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 0px -274px;
}
.container-two .section-one {
  display: flex;
}
@media screen and (max-width: 1150px) {
  .container-two .section-one {
    flex-direction: column;
    align-items: center;
  }
}
.container-two .section-one h2 {
  font-weight: 700;
  font-family: "Inter-bold";
  font-size: 80px;
  color: #282A2E;
}
@media screen and (max-width: 1450px) {
  .container-two .section-one h2 {
    margin-left: 10px;
  }
}
@media screen and (max-width: 1250px) {
  .container-two .section-one h2 {
    text-align: center;
    font-size: 62px;
  }
}
@media screen and (max-width: 1150px) {
  .container-two .section-one h2 {
    font-size: 64px;
  }
}
@media screen and (max-width: 768px) {
  .container-two .section-one h2 {
    margin-top: 32px;
    font-size: 32px;
    width: 372px;
    text-align: center;
  }
}
@media screen and (max-width: 380px) {
  .container-two .section-one h2 {
    width: 350px;
  }
}
@media screen and (max-width: 350px) {
  .container-two .section-one h2 {
    width: 330px;
  }
}
.container-two .section-one .content-right img {
  width: 580px;
  margin-bottom: 250px;
}
@media screen and (max-width: 1500px) {
  .container-two .section-one .content-right img {
    margin-left: 250px;
  }
}
@media screen and (max-width: 1450px) {
  .container-two .section-one .content-right img {
    margin-left: 100px;
    width: 500px;
  }
}
@media screen and (max-width: 1350px) {
  .container-two .section-one .content-right img {
    width: 400px;
  }
}
@media screen and (max-width: 1250px) {
  .container-two .section-one .content-right img {
    margin-left: 0;
    width: 350px;
    height: 250px;
  }
}
@media screen and (max-width: 1150px) {
  .container-two .section-one .content-right img {
    width: 500px;
    height: auto;
    margin-top: 32px;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 900px) {
  .container-two .section-one .content-right img {
    width: 600px;
    height: auto;
    margin-top: 32px;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 768px) {
  .container-two .section-one .content-right img {
    width: 450px;
  }
}
@media screen and (max-width: 600px) {
  .container-two .section-one .content-right img {
    width: 350px;
  }
}
@media screen and (max-width: 510px) {
  .container-two .section-one .content-right img {
    width: 374px;
  }
}
@media screen and (max-width: 400px) {
  .container-two .section-one .content-right img {
    width: 350px;
  }
}
@media screen and (max-width: 350px) {
  .container-two .section-one .content-right img {
    width: 330px;
  }
}
.container-two .section-one .content-info {
  display: grid;
  grid-template-columns: 430px 300px;
}
@media screen and (max-width: 1450px) {
  .container-two .section-one .content-info {
    margin-left: 20px;
  }
}
@media screen and (max-width: 1150px) {
  .container-two .section-one .content-info {
    grid-template-columns: 300px 264px;
    -moz-column-gap: 42px;
         column-gap: 42px;
    margin-top: 52px;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .container-two .section-one .content-info {
    grid-template-columns: 400px;
  }
}
@media screen and (max-width: 420px) {
  .container-two .section-one .content-info {
    grid-template-columns: 360px;
  }
}
@media screen and (max-width: 380px) {
  .container-two .section-one .content-info {
    grid-template-columns: 337px;
  }
}
.container-two .section-one .content-info h3 {
  font-family: "Inter-bold";
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .container-two .section-one .content-info h3 {
    font-size: 22px;
  }
}
@media screen and (max-width: 450px) {
  .container-two .section-one .content-info h3 {
    font-size: 16px;
  }
}
.container-two .section-one .content-info p {
  font-family: "OpenSans-reg";
  font-weight: 400;
  color: #282A2E;
  line-height: normal;
}
@media screen and (max-width: 1250px) {
  .container-two .section-one .content-info p {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .container-two .section-one .content-info p {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  .container-two .section-one .content-info p {
    font-size: 14px;
  }
}

/*content-JS*/
.conten-box {
  position: relative;
  background: linear-gradient(198.91deg, #91BCAA 21.75%, #538465 87.24%);
  background-size: cover;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 1150px) {
  .conten-box {
    margin-top: 150px;
  }
}
@media screen and (max-width: 768px) {
  .conten-box {
    margin-top: 310px;
  }
}
.conten-box .top-line {
  position: absolute;
  width: 100%;
  top: 0%;
  right: 0%;
}
.conten-box .bottom-line img {
  position: absolute;
  width: 30%;
  top: 85%;
}
@media screen and (max-width: 950px) {
  .conten-box .bottom-line img {
    top: 91%;
  }
}
@media screen and (max-width: 900px) {
  .conten-box .bottom-line img {
    width: 50%;
    top: 91%;
  }
}
@media screen and (max-width: 510px) {
  .conten-box .bottom-line img {
    top: 94%;
  }
}
.conten-box h2 {
  font-family: "Inter-bold";
  color: #FFFFFF;
  font-size: 52px;
  padding-top: 52px;
}
@media screen and (max-width: 510px) {
  .conten-box h2 {
    font-size: 37px;
  }
}
.conten-box .cont-three {
  display: flex;
}
@media screen and (max-width: 1150px) {
  .conten-box .cont-three {
    justify-content: center;
    margin-bottom: 24px;
    margin-left: 0;
  }
}
.conten-box .container-three {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 150px;
}
@media screen and (max-width: 900px) {
  .conten-box .container-three {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.conten-box .container-three .content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  .conten-box .container-three .content-left {
    display: none;
  }
}
.conten-box .container-three .cont-middle {
  /*z-index: 2;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 100px;
}
@media screen and (max-width: 900px) {
  .conten-box .container-three .cont-middle {
    padding-top: 50px;
  }
}
@media screen and (max-width: 510px) {
  .conten-box .container-three .cont-middle {
    align-items: center;
    justify-content: center;
  }
}
.conten-box .container-three .cont-middle #openModal img {
  background-color: #ECECF1;
  border-radius: 50px;
  padding: 5px;
  margin-right: 5px;
}
@media screen and (max-width: 900px) {
  .conten-box .container-three .cont-middle #openModal img {
    flex-direction: column;
    align-items: center;
  }
}
.conten-box .container-three .cont-middle .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 900px) {
  .conten-box .container-three .cont-middle .modal img {
    margin-bottom: 120px;
    width: 350px;
  }
}
.conten-box .container-three .cont-middle .modal-content {
  background: #91BCAA url(../images/line-top.png);
  margin: 15% auto;
  padding: 20px;
  border: none;
  width: 80%;
  max-width: 500px;
  border-radius: 50px;
}
.conten-box .container-three .cont-middle .close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.conten-box .container-three .cont-middle .close:hover,
.conten-box .container-three .cont-middle .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.conten-box .container-three .cont-middle form {
  display: flex;
  flex-direction: column;
}
.conten-box .container-three .cont-middle label {
  font-family: "OpenSans-bold";
  color: #ffffff;
  font-weight: 700;
  margin: 20px 0 5px;
}
.conten-box .container-three .cont-middle input, .conten-box .container-three .cont-middle textarea {
  border: none;
  background-color: #538465;
  padding: 10px;
  margin-bottom: 15px;
}
.conten-box .container-three .image {
  width: 600px;
  margin-top: 90px;
  /*padding-bottom: 150px;*/
}
@media screen and (max-width: 1450px) {
  .conten-box .container-three .image {
    width: 550px;
  }
}
@media screen and (max-width: 1350px) {
  .conten-box .container-three .image {
    width: 500px;
  }
}
@media screen and (max-width: 1150px) {
  .conten-box .container-three .image {
    width: 435px;
  }
}
.conten-box .container-three .image-middle {
  width: 350px;
}
@media screen and (max-width: 1450px) {
  .conten-box .container-three .image-middle {
    width: 300px;
  }
}
@media screen and (max-width: 1350px) {
  .conten-box .container-three .image-middle {
    width: 250px;
  }
}
@media screen and (max-width: 900px) {
  .conten-box .container-three .image-middle {
    margin-bottom: 120px;
    width: 300px;
  }
}
@media screen and (max-width: 510px) {
  .conten-box .container-three .image-middle {
    margin-bottom: 0;
    width: 390px;
  }
}
@media screen and (max-width: 410px) {
  .conten-box .container-three .image-middle {
    width: 360px;
  }
}
@media screen and (max-width: 380px) {
  .conten-box .container-three .image-middle {
    width: 350px;
  }
}
@media screen and (max-width: 350px) {
  .conten-box .container-three .image-middle {
    width: 330px;
  }
}
.conten-box .container-three .image-right {
  width: 550px;
}
@media screen and (max-width: 1450px) {
  .conten-box .container-three .image-right {
    width: 500px;
  }
}
@media screen and (max-width: 1350px) {
  .conten-box .container-three .image-right {
    width: 450px;
  }
}
@media screen and (max-width: 1150px) {
  .conten-box .container-three .image-right {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .conten-box .container-three .image-right {
    display: block;
  }
}
@media screen and (max-width: 510px) {
  .conten-box .container-three .image-right {
    display: none;
  }
}
.conten-box .container-three .middle-text {
  position: absolute;
  bottom: 38%; /* По центру */
  left: 22%; /* По центру */
  transform: translate(0%, 35%); /* Центрируем кнопку */
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  /*z-index: 1;
  margin-left: -330px;*/
}
@media screen and (max-width: 1150px) {
  .conten-box .container-three .middle-text {
    bottom: 38%;
    left: 32%;
  }
}
@media screen and (max-width: 900px) {
  .conten-box .container-three .middle-text {
    bottom: 14%;
    left: 21%;
    text-align: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .conten-box .container-three .middle-text {
    bottom: 14%;
    left: 9%;
    text-align: center;
    align-items: center;
  }
}
@media screen and (max-width: 510px) {
  .conten-box .container-three .middle-text {
    bottom: 14%;
    left: 9%;
    text-align: center;
    align-items: center;
    transform: translate(0%, 0%);
    position: static;
  }
}
.conten-box .container-three .middle-text h3 {
  font-family: "Inter-bold";
  color: #FFFFFF;
  margin-top: 25px;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 12px;
}
@media screen and (max-width: 768px) {
  .conten-box .container-three .middle-text h3 {
    font-size: 24px;
  }
}
.conten-box .container-three .middle-text p {
  font-family: "OpenSans-reg";
  color: #FFFFFF;
  font-size: 16px;
  width: 480px;
}
@media screen and (max-width: 510px) {
  .conten-box .container-three .middle-text p {
    width: 350px;
  }
}
@media screen and (max-width: 350px) {
  .conten-box .container-three .middle-text p {
    width: 330px;
  }
}
.conten-box .container-three .links {
  position: absolute;
  bottom: 22%;
  left: 22%;
  transform: translate(0%, 35%); /* Центрируем кнопку */
  font-family: "OpenSans-reg";
  /*z-index: 1;
  margin-left: -325px;*/
  margin-top: 52px;
}
@media screen and (max-width: 1150px) {
  .conten-box .container-three .links {
    bottom: 22%;
    left: 32%;
  }
}
@media screen and (max-width: 900px) {
  .conten-box .container-three .links {
    bottom: 5%;
    left: 25%;
  }
}
@media screen and (max-width: 768px) {
  .conten-box .container-three .links {
    bottom: 5%;
    left: 15%;
  }
}
@media screen and (max-width: 510px) {
  .conten-box .container-three .links {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
  }
}
.conten-box .container-three .links .wb {
  border: 1px solid #fff;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  margin-left: 50px;
  transition: all 150ms ease-in-out;
  padding: 10px;
  text-decoration: none;
  color: rgb(237, 63, 243);
}
@media screen and (max-width: 1100px) {
  .conten-box .container-three .links .wb {
    margin-left: 0;
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .conten-box .container-three .links .wb {
    margin-top: 12px;
    margin-left: 12px;
  }
}
@media screen and (max-width: 768px) {
  .conten-box .container-three .links .wb {
    margin-left: 0;
  }
}
.conten-box .container-three .links .wb:hover {
  border: none;
  background-color: #ED3FF3;
  color: #ffffff;
  box-shadow: 0 0 10px 0 #ED3FF3 inset, 0 0 10px 4px #ED3FF3;
}
.conten-box .container-three .links .oz {
  border: 1px solid #fff;
  border-radius: 50px;
  transition: all 150ms ease-in-out;
  background-color: rgb(255, 255, 255);
  padding: 10px 30px;
  text-decoration: none;
  color: rgb(0, 91, 255);
}
.conten-box .container-three .links .oz:hover {
  border: none;
  background-color: #005BFF;
  color: #ffffff;
  box-shadow: 0 0 10px 0 #005BFF inset, 0 0 10px 4px #005BFF;
}
.conten-box .container-three .buttons {
  position: absolute;
  top: 11%; /* По центру */
  right: 17%; /* По центру */
  transform: translate(100%, 0%); /* Центрируем кнопку */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*margin-left: -380px;
  z-index: 1;*/
  border: none;
}
@media screen and (max-width: 1350px) {
  .conten-box .container-three .buttons {
    top: 0%;
  }
}
@media screen and (max-width: 950px) {
  .conten-box .container-three .buttons {
    flex-wrap: wrap;
    flex-direction: row;
    right: 28%;
    transform: none;
  }
}
@media screen and (max-width: 900px) {
  .conten-box .container-three .buttons {
    top: 0%;
    right: 25%;
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
@media screen and (max-width: 520px) {
  .conten-box .container-three .buttons {
    right: 14%;
  }
}
@media screen and (max-width: 510px) {
  .conten-box .container-three .buttons {
    flex-direction: row;
    flex-wrap: wrap;
    position: static;
    transform: translate(0%, 0%);
    align-items: center;
    justify-content: center;
  }
}
.conten-box .container-three .buttons img {
  background-color: #ECECF1;
  border-radius: 50px;
  padding: 5px;
  margin-right: 5px;
}
.conten-box .container-three button {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: 700;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}
.conten-box .container-three button:hover {
  color: #282A2E;
  text-decoration: underline;
}
.conten-box .container-three button:hover:not(:hover) {
  transform: scale(1.1);
}

/*Container info*/
.container-info {
  padding-top: 100px;
  background-position: 0% 140%;
  background-size: 40%;
  z-index: 1;
  background-repeat: no-repeat;
  background-image: url(../images/info_line.png);
}
@media screen and (max-width: 1150px) {
  .container-info {
    background-position: 0% 75%;
    background-size: 50%;
  }
}
@media screen and (max-width: 900px) {
  .container-info {
    background-position: 0% 14%;
  }
}
.container-info h3 {
  font-family: "Inter-bold";
  font-weight: 700;
  font-size: 70px;
  margin-bottom: 170px;
  margin-right: -80px;
}
@media screen and (max-width: 1150px) {
  .container-info h3 {
    font-size: 70px;
    text-align: center;
    margin-right: 0px;
  }
}
@media screen and (max-width: 930px) {
  .container-info h3 {
    font-size: 50px;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 900px) {
  .container-info h3 {
    font-size: 45px;
  }
}
@media screen and (max-width: 768px) {
  .container-info h3 {
    margin-left: 10px;
    margin-bottom: 50px;
    font-size: 30px;
    width: 350px;
  }
}
@media screen and (max-width: 510px) {
  .container-info h3 {
    font-size: 26px;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .container-info h3 {
    font-size: 24px;
  }
}
@media screen and (max-width: 380px) {
  .container-info h3 {
    font-size: 22px;
  }
}
@media screen and (max-width: 350px) {
  .container-info h3 {
    width: 330px;
  }
}
.container-info .flexbox-left {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 1150px) {
  .container-info .flexbox-left {
    flex-direction: column;
    align-items: center;
  }
}
.container-info .flexbox-left .image-box img {
  width: 600px;
}
@media screen and (max-width: 1600px) {
  .container-info .flexbox-left .image-box img {
    width: 590px;
  }
}
@media screen and (max-width: 1450px) {
  .container-info .flexbox-left .image-box img {
    width: 490px;
  }
}
@media screen and (max-width: 1350px) {
  .container-info .flexbox-left .image-box img {
    width: 350px;
  }
}
@media screen and (max-width: 1300px) {
  .container-info .flexbox-left .image-box img {
    width: 300px;
  }
}
@media screen and (max-width: 1150px) {
  .container-info .flexbox-left .image-box img {
    width: 450px;
  }
}
@media screen and (max-width: 900px) {
  .container-info .flexbox-left .image-box img {
    width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .container-info .flexbox-left .image-box img {
    width: 385px;
  }
}
@media screen and (max-width: 510px) {
  .container-info .flexbox-left .image-box img {
    width: 360px;
  }
}
@media screen and (max-width: 400px) {
  .container-info .flexbox-left .image-box img {
    width: 351px;
  }
}
@media screen and (max-width: 350px) {
  .container-info .flexbox-left .image-box img {
    width: 330px;
  }
}
.container-info .information {
  display: grid;
  grid-template-columns: 383px 350px;
  align-content: space-between;
  -moz-column-gap: 110px;
       column-gap: 110px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .container-info .information {
    -moz-column-gap: 70px;
         column-gap: 70px;
  }
}
@media screen and (max-width: 768px) {
  .container-info .information {
    grid-template-columns: 383px;
  }
}
@media screen and (max-width: 400px) {
  .container-info .information {
    grid-template-columns: 374px;
  }
}
@media screen and (max-width: 380px) {
  .container-info .information {
    grid-template-columns: 337px;
  }
}
.container-info .information h5 {
  margin-top: 16px;
  font-family: "OpenSans-bold";
  color: #282A2E;
  font-weight: 700;
  font-size: 16px;
}
.container-info .information p {
  font-family: "OpenSans-bold";
  color: #282A2E;
  font-size: 12px;
  margin-top: 24px;
  margin-bottom: 24px;
}

/*Container clients*/
.container-clients {
  display: flex;
  flex-direction: column;
  background-image: url(../images/bottom_line.png);
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 110px;
  padding-bottom: 315px;
}
@media screen and (max-width: 900px) {
  .container-clients {
    padding-bottom: 150px;
  }
}
.container-clients .client {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .container-clients .client {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
.container-clients .client .clients-left {
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .container-clients .client .clients-left {
    width: 550px;
  }
}
@media screen and (max-width: 768px) {
  .container-clients .client .clients-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 374px;
  }
}
@media screen and (max-width: 380px) {
  .container-clients .client .clients-left {
    width: 350px;
  }
}
@media screen and (max-width: 350px) {
  .container-clients .client .clients-left {
    width: 330px;
  }
}
.container-clients .client .clients-left h5 {
  font-family: "Inter-bold";
  font-size: 20px;
  margin-top: 22px;
}
.container-clients .client .clients-left p {
  margin-top: 22px;
  font-family: "OpenSans-reg";
  font-size: 16px;
  margin-top: 22px;
  width: 600px;
}
@media screen and (max-width: 1350px) {
  .container-clients .client .clients-left p {
    width: 450px;
  }
}
@media screen and (max-width: 768px) {
  .container-clients .client .clients-left p {
    width: 374px;
  }
}
@media screen and (max-width: 380px) {
  .container-clients .client .clients-left p {
    width: 350px;
  }
}
@media screen and (max-width: 350px) {
  .container-clients .client .clients-left p {
    width: 330px;
  }
}
.container-clients .client .clients-left .box-one {
  background-image: url(../images/top_left.png);
  width: 650px;
  height: 350px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1350px) {
  .container-clients .client .clients-left .box-one {
    width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .container-clients .client .clients-left .box-one {
    width: 374px;
  }
}
@media screen and (max-width: 380px) {
  .container-clients .client .clients-left .box-one {
    width: 350px;
  }
}
@media screen and (max-width: 350px) {
  .container-clients .client .clients-left .box-one {
    width: 330px;
  }
}
.container-clients .client .clients-left .box-one .catalog {
  border: none;
  background: linear-gradient(272.78deg, #386548 0%, #71A28C 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  border-radius: 50px;
  transition: all 150ms ease-in-out;
  padding: 14px 45px;
  text-decoration: none;
  color: #fff;
  position: relative;
  left: 24%;
  top: 0;
}
@media screen and (max-width: 1350px) {
  .container-clients .client .clients-left .box-one .catalog {
    left: 18%;
    top: 27px;
    padding: 10px 27px;
  }
}
@media screen and (max-width: 768px) {
  .container-clients .client .clients-left .box-one .catalog {
    font-size: 12px;
    top: 26%;
    left: 20%;
    padding: 9px 20px;
  }
}
@media screen and (max-width: 350px) {
  .container-clients .client .clients-left .box-one .catalog {
    top: 24%;
    left: 18%;
    bottom: 0%;
    padding: 9px 13px;
  }
}
.container-clients .client .clients-left .box-one .kitchen {
  position: relative;
  left: 5%;
  top: 8%;
}
@media screen and (max-width: 1350px) {
  .container-clients .client .clients-left .box-one .kitchen {
    width: 200px;
    left: 7%;
    top: 17%;
  }
}
@media screen and (max-width: 768px) {
  .container-clients .client .clients-left .box-one .kitchen {
    width: 132px;
    left: 8%;
    top: 28%;
  }
}
.container-clients .client .clients-left .catalog:hover {
  border: none;
  background-color: #386548;
  box-shadow: 0 0 10px 0 #386548 inset, 0 0 10px 4px #386548;
}
.container-clients .client .clients-left .box-two {
  background-image: url(../images/bottom_left.png);
  width: 650px;
  height: 350px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1350px) {
  .container-clients .client .clients-left .box-two {
    width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .container-clients .client .clients-left .box-two {
    width: 374px;
  }
}
@media screen and (max-width: 380px) {
  .container-clients .client .clients-left .box-two {
    width: 350px;
  }
}
@media screen and (max-width: 350px) {
  .container-clients .client .clients-left .box-two {
    width: 330px;
  }
}
.container-clients .client .clients-left .box-two .catalog {
  border: none;
  background: linear-gradient(272.78deg, #386548 0%, #71A28C 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  border-radius: 50px;
  transition: all 150ms ease-in-out;
  padding: 14px 45px;
  text-decoration: none;
  color: #fff;
  position: relative;
  left: 25%;
  bottom: 8%;
}
@media screen and (max-width: 1350px) {
  .container-clients .client .clients-left .box-two .catalog {
    left: 19%;
    top: 2%;
    padding: 10px 27px;
  }
}
@media screen and (max-width: 768px) {
  .container-clients .client .clients-left .box-two .catalog {
    font-size: 12px;
    top: 21%;
    left: 20%;
    bottom: 0%;
    padding: 9px 20px;
  }
}
@media screen and (max-width: 350px) {
  .container-clients .client .clients-left .box-two .catalog {
    top: 20%;
    left: 18%;
    bottom: 0%;
    padding: 9px 13px;
  }
}
.container-clients .client .clients-left .box-two .kitchen-two {
  position: relative;
  left: 5%;
  top: 8%;
}
@media screen and (max-width: 1350px) {
  .container-clients .client .clients-left .box-two .kitchen-two {
    width: 200px;
    left: 5%;
    top: 17%;
  }
}
@media screen and (max-width: 768px) {
  .container-clients .client .clients-left .box-two .kitchen-two {
    left: 8%;
    top: 27%;
    width: 132px;
  }
}
.container-clients .client .clients-left .box-two .box-info_two {
  width: 650px;
}
@media screen and (max-width: 768px) {
  .container-clients .client .clients-left .box-two .box-info_two {
    width: 374px;
  }
}
@media screen and (max-width: 380px) {
  .container-clients .client .clients-left .box-two .box-info_two {
    width: 350px;
  }
}
@media screen and (max-width: 350px) {
  .container-clients .client .clients-left .box-two .box-info_two {
    width: 330px;
  }
}
.container-clients .client .clients-left .catalog:hover {
  border: none;
  background-color: #386548;
  box-shadow: 0 0 10px 0 #386548 inset, 0 0 10px 4px #386548;
}
.container-clients .client .clients-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .container-clients .client .clients-right {
    width: 550px;
  }
}
@media screen and (max-width: 768px) {
  .container-clients .client .clients-right {
    align-items: center;
    width: 374px;
  }
}
@media screen and (max-width: 380px) {
  .container-clients .client .clients-right {
    width: 350px;
  }
}
@media screen and (max-width: 350px) {
  .container-clients .client .clients-right {
    width: 330px;
  }
}
.container-clients .client .clients-right h2 {
  font-family: "Inter-bold";
  font-size: 100px;
  color: #282A2E;
}
@media screen and (max-width: 1600px) {
  .container-clients .client .clients-right h2 {
    font-size: 90px;
  }
}
@media screen and (max-width: 1350px) {
  .container-clients .client .clients-right h2 {
    font-size: 80px;
  }
}
@media screen and (max-width: 1150px) {
  .container-clients .client .clients-right h2 {
    font-size: 70px;
  }
}
@media screen and (max-width: 1024px) {
  .container-clients .client .clients-right h2 {
    font-size: 80px;
  }
}
@media screen and (max-width: 930px) {
  .container-clients .client .clients-right h2 {
    font-size: 64px;
  }
}
@media screen and (max-width: 768px) {
  .container-clients .client .clients-right h2 {
    font-size: 37px;
  }
}
@media screen and (max-width: 400px) {
  .container-clients .client .clients-right h2 {
    font-size: 24px;
    text-align: center;
  }
}
.container-clients .client .clients-right h5 {
  font-family: "Inter-bold";
  font-size: 20px;
  margin-top: 22px;
}
.container-clients .client .clients-right p {
  font-family: "OpenSans-reg";
  font-size: 16px;
  margin-top: 22px;
}
@media screen and (max-width: 1350px) {
  .container-clients .client .clients-right p {
    width: 450px;
  }
}
@media screen and (max-width: 510px) {
  .container-clients .client .clients-right p {
    width: 370px;
  }
}
@media screen and (max-width: 380px) {
  .container-clients .client .clients-right p {
    width: 350px;
  }
}
@media screen and (max-width: 350px) {
  .container-clients .client .clients-right p {
    width: 330px;
  }
}
.container-clients .client .clients-right .width {
  width: 600px;
  font-family: "OpenSans-reg";
  font-size: 16px;
  margin-top: 22px;
}
@media screen and (max-width: 1350px) {
  .container-clients .client .clients-right .width {
    width: 450px;
  }
}
@media screen and (max-width: 768px) {
  .container-clients .client .clients-right .width {
    width: 374px;
  }
}
@media screen and (max-width: 380px) {
  .container-clients .client .clients-right .width {
    width: 350px;
  }
}
@media screen and (max-width: 350px) {
  .container-clients .client .clients-right .width {
    width: 330px;
  }
}
.container-clients .client .clients-right .hdlex {
  background-image: url(../images/bottom_right.png);
  width: 650px;
  height: 350px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1350px) {
  .container-clients .client .clients-right .hdlex {
    width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .container-clients .client .clients-right .hdlex {
    width: 374px;
  }
}
@media screen and (max-width: 380px) {
  .container-clients .client .clients-right .hdlex {
    width: 350px;
  }
}
@media screen and (max-width: 350px) {
  .container-clients .client .clients-right .hdlex {
    width: 330px;
  }
}
.container-clients .client .clients-right .hdlex .catalog {
  border: none;
  background: linear-gradient(272.78deg, #386548 0%, #71A28C 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  border-radius: 50px;
  transition: all 150ms ease-in-out;
  padding: 14px 45px;
  text-decoration: none;
  color: #fff;
  position: relative;
  left: 20%;
  top: 3%;
}
@media screen and (max-width: 1350px) {
  .container-clients .client .clients-right .hdlex .catalog {
    left: 20%;
    top: 20%;
    padding: 10px 27px;
  }
}
@media screen and (max-width: 768px) {
  .container-clients .client .clients-right .hdlex .catalog {
    font-size: 12px;
    top: 32%;
    left: 20%;
    bottom: 0%;
    padding: 9px 20px;
  }
}
@media screen and (max-width: 350px) {
  .container-clients .client .clients-right .hdlex .catalog {
    top: 31%;
    left: 18%;
    bottom: 0%;
    padding: 9px 13px;
  }
}
.container-clients .client .clients-right .hdlex .kitchen-right {
  width: 290px;
  position: relative;
  left: 0%;
  top: 10%;
}
@media screen and (max-width: 1350px) {
  .container-clients .client .clients-right .hdlex .kitchen-right {
    left: 4%;
    top: 20%;
    width: 200px;
  }
}
@media screen and (max-width: 768px) {
  .container-clients .client .clients-right .hdlex .kitchen-right {
    width: 132px;
    top: 30%;
    left: 7%;
  }
}
.container-clients .client .catalog:hover {
  border: none;
  background-color: #386548;
  box-shadow: 0 0 10px 0 #386548 inset, 0 0 10px 4px #386548;
}
.container-clients .client img {
  width: 250px;
}
@media screen and (max-width: 768px) {
  .container-clients .client img {
    width: 132px;
  }
}

/*Container box*/
.box-sur {
  overflow: hidden;
  padding: 32px 0px 32px 0px;
  background: linear-gradient(202.73deg, #91BCAA -79.27%, #91BCAA -67.74%, #90BBA9 -57.31%, #8FBAA7 -47.67%, #8DB8A5 -38.51%, #8AB6A3 -29.53%, #88B39F -20.41%, #84B09C -10.85%, #80AD97 -0.54%, #7BA892 10.82%, #76A48C 23.54%, #709E86 37.93%, #6A997F 54.29%, #639277 72.94%, #5B8B6E 94.18%, #538465 118.31%);
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.scrolling-content {
  display: inline-block;
  animation: scroll 20s linear infinite;
}
.scrolling-content img {
  width: 34px;
  margin: 0 40px;
}

.item {
  display: inline-block;
  margin-right: 20px; /* Отступы между элементами */
}
.item p {
  color: #ffffff;
  font-family: "Inter-bold";
  font-size: 45px;
}

.custom-modal {
  display: none; /* Скрываем модальное окно по умолчанию */
  position: fixed;
  z-index: 1000;
  border-radius: 35px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 464px;
  height: 535px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow: auto;
}
@media screen and (max-width: 510px) {
  .custom-modal {
    width: 330px;
    height: 465px;
  }
}
.custom-modal .custom-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.custom-modal .custom-content h2 {
  text-align: center;
  font-family: "Inter-bold";
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  color: #282A2E;
  line-height: 25px;
}
.custom-modal .custom-content p {
  text-align: center;
  font-size: 16px;
  color: #282A2E;
  line-height: 25px;
  font-family: "OpenSans-reg";
  margin-bottom: 20px;
}
.custom-modal .custom-content .link_mes {
  display: flex;
}
.custom-modal .custom-content .link_mes img {
  margin-right: 15px;
  width: 33px;
}
.custom-modal .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
.custom-modal .oz {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  border: none;
  background-color: #005BFF;
  border-radius: 50px;
  box-shadow: 0 0 40px 40px #005BFF inset, 0 0 0 0 #005BFF;
  transition: all 150ms ease-in-out;
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
}
.custom-modal .oz:hover {
  box-shadow: 0 0 10px 0 #005BFF inset, 0 0 10px 4px #005BFF;
}
.custom-modal .wb {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  border: none;
  background-color: #ED3FF3;
  border-radius: 50px;
  margin-left: 20px;
  box-shadow: 0 0 40px 40px #ED3FF3 inset, 0 0 0 0 #ED3FF3;
  transition: all 150ms ease-in-out;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}
.custom-modal .wb:hover {
  box-shadow: 0 0 10px 0 #ED3FF3 inset, 0 0 10px 4px #ED3FF3;
}
.custom-modal .horizontal-links {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%); /* Смещение на половину ширины содержимого */
  }
}
.container-profile {
  margin-top: 250px;
  background-image: url(../images/about_bg_line.png);
  background-repeat: no-repeat;
  padding-bottom: 310px;
}
@media screen and (max-width: 900px) {
  .container-profile {
    padding-bottom: 50px;
    margin-top: 100px;
  }
}
@media screen and (max-width: 768px) {
  .container-profile {
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
    margin-top: 100px;
  }
}
.container-profile h3 {
  font-size: 100px;
  font-family: "Inter-bold";
  margin-bottom: 83px;
  width: 950px;
}
@media screen and (max-width: 1350px) {
  .container-profile h3 {
    font-size: 80px;
  }
}
@media screen and (max-width: 930px) {
  .container-profile h3 {
    font-size: 60px;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .container-profile h3 {
    font-size: 60px;
  }
}
@media screen and (max-width: 510px) {
  .container-profile h3 {
    font-size: 37px;
    margin-left: 0;
    margin-bottom: 50px;
  }
}
.container-profile .carousel-container {
  position: relative;
  width: 100%;
  max-width: 1250px;
  margin: auto;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .container-profile .carousel-container {
    width: 83%;
  }
}
@media screen and (max-width: 930px) {
  .container-profile .carousel-container {
    width: 56%;
  }
}
@media screen and (max-width: 768px) {
  .container-profile .carousel-container {
    width: 92%;
  }
}
@media screen and (max-width: 400px) {
  .container-profile .carousel-container {
    width: 91%;
  }
}
@media screen and (max-width: 350px) {
  .container-profile .carousel-container {
    width: 100%;
  }
}
.container-profile .carousel {
  display: flex;
}
.container-profile .carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}
.container-profile .carousel-item {
  display: flex;
  text-align: center;
  min-width: 355px; /* Ширина карточек */
  margin: 0 10px; /* Отступы между карточками */
  padding: 20px;
  border-radius: 30px;
  background: linear-gradient(360deg, #386548 0%, #71A28C 100%);
}
@media screen and (max-width: 400px) {
  .container-profile .carousel-item {
    width: 360px;
  }
}
.container-profile .carousel-item img {
  width: 350px;
}
@media screen and (max-width: 400px) {
  .container-profile .carousel-item img {
    width: 300px;
  }
}
.container-profile .carousel-item .star-container {
  color: gold;
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;
}
.container-profile .carousel-item h5 {
  color: #ffffff;
  font-family: "Inter-bold";
  font-size: 24px;
}
.container-profile .carousel-item p {
  text-align: center;
  width: 350px;
  color: #ffffff;
  font-family: "OpenSans-reg";
  font-size: 16px;
  margin-top: 32px;
  margin-bottom: 24px;
}
@media screen and (max-width: 400px) {
  .container-profile .carousel-item p {
    width: 300px;
  }
}
.container-profile .carousel-item .one-card {
  display: flex;
  align-items: center;
  width: 350px;
}
.container-profile .carousel-item .second-card {
  display: flex;
  align-items: center;
  width: 350px;
}
.container-profile .carousel-item .third-card {
  display: flex;
  align-items: center;
  width: 350px;
}
.container-profile .carousel-item h3 {
  margin-top: 0;
}
.container-profile .carousel-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.container-profile .prev-button {
  right: 80px;
}
@media screen and (max-width: 1024px) {
  .container-profile button {
    display: none;
  }
}

footer {
  background: rgb(40, 42, 46);
}
footer .top-foot {
  display: flex;
  justify-content: space-between;
  padding: 70px 0px 60px 0px;
}
@media screen and (max-width: 900px) {
  footer .top-foot {
    flex-direction: column;
    align-items: center;
    padding: 30px 0px 30px 0px;
  }
}
footer .top-foot .messeng {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 900px) {
  footer .top-foot .messeng {
    margin-top: 24px;
  }
}
@media screen and (max-width: 900px) {
  footer .top-foot .messeng img {
    width: 200px;
  }
}
footer .top-foot .messeng a {
  margin-left: 22px;
}
footer .top-foot .messeng a img {
  width: 35px;
}
@media screen and (max-width: 900px) {
  footer .top-foot .messeng a img {
    width: 24px;
  }
}
footer .top-foot .messeng h5 {
  color: #ffffff;
  font-size: 24px;
  margin-left: 70px;
  font-family: "Inter-bold";
}
@media screen and (max-width: 1024px) {
  footer .top-foot .messeng h5 {
    font-size: 22px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 900px) {
  footer .top-foot .messeng h5 {
    font-size: 16px;
    margin-right: 1px;
  }
}
@media screen and (max-width: 510px) {
  footer .top-foot .messeng h5 {
    font-size: 14px;
  }
}
@media screen and (max-width: 510px) {
  footer .top-foot .messeng h5 {
    font-size: 12px;
  }
}
@media screen and (max-width: 380px) {
  footer .top-foot .messeng h5 {
    font-size: 10px;
  }
}
footer .border_line {
  border-top: 2px solid #808080;
  padding-bottom: 60px;
}
@media screen and (max-width: 900px) {
  footer .border_line {
    padding-bottom: 30px;
  }
}
footer .bottom-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
}
@media screen and (max-width: 900px) {
  footer .bottom-foot {
    padding-bottom: 30px;
  }
}
footer .bottom-foot .width-foot {
  width: 600px;
}
@media screen and (max-width: 900px) {
  footer .bottom-foot .width-foot {
    width: 600px;
  }
}
footer .bottom-foot p {
  color: #ffffff;
  font-family: "OpenSans-reg";
  font-size: 16px;
}
@media screen and (max-width: 900px) {
  footer .bottom-foot p {
    font-size: 16px;
    margin-left: 36px;
    width: 302px;
  }
}
@media screen and (max-width: 510px) {
  footer .bottom-foot p {
    font-size: 14px;
    margin-left: 19px;
  }
}
@media screen and (max-width: 510px) {
  footer .bottom-foot p {
    font-size: 12px;
  }
}
@media screen and (max-width: 380px) {
  footer .bottom-foot p {
    margin-left: 2px;
    font-size: 8px;
  }
}/*# sourceMappingURL=main.css.map */